body.media_page_instant-images,
body.settings_page_instant-images-settings {
	background: #fff;

	#wpcontent {
		padding-left: 0;
		padding-bottom: 40px;
		@media screen and (max-width: $small) {
			padding-bottom: 0;
		}
	}
	#wpbody-content {
		padding-bottom: 0;
	}
	#wpfooter {
		padding-top: 0;
		padding-bottom: 0;
		line-height: 40px;
		background: $lighter_grey;
		border-top: 1px solid $grey;
		position: fixed;
		bottom: 0;
		z-index: 1100;
		p {
			line-height: 40px;
		}
		@media screen and (max-width: $small) {
			display: none;
		}
	}
	&.overflow-hidden {
		overflow: hidden;
	}
}

.instant-img-container {
	font-size: 14px;
	color: $text_alt;
	position: relative;

	.offscreen {
		position: absolute;
		overflow: hidden;
		clip: rect(0 0 0 0);
		height: 1px;
		width: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}
	* {
		box-sizing: border-box;
	}
	a {
		color: $purple;
		transition: $transition;
		&:hover {
			color: #5568ae;
			text-decoration: none;
		}
	}
	img {
		max-width: 100%;
	}
	p {
		display: block;
		color: $text_alt;
		width: 100%;
		clear: both;
		text-transform: none;
		padding: 0;
		margin: 0 0 15px;
		font-size: 14px;
	}

	.error-messaging {
		padding: 22px 22px 22px 60px;
		border-radius: $radius;
		background: #da4444;
		color: #fff;
		font-size: 13px;
		line-height: 1.75;
		margin: 15px 15px 0;
		display: block;
		position: relative;
		box-shadow: $shadow;
		&.warning {
			background-color: $warn;
		}
		strong {
			font-size: 15px;
			display: block;
		}
		&::before {
			font-family: "FontAwesome";
			content: "\f06a";
			display: block;
			left: 18px;
			top: 18px;
			position: absolute;
			font-size: 32px;
			opacity: 0.75;
		}
	}

	/*
      Admin Screens - Setting page
      wp-admin/upload.php?page=instant-images
   */
	.instant-images-header-wrap {
		background: $lighter_grey url("../img/logo-48x48.png") no-repeat 25px 20px;
		padding: 20px 25px 20px 83px;
		min-height: 88px;
		overflow: hidden;
		border-bottom: 1px solid $grey;
		position: relative;
		@media screen and (max-width: $small) {
			background-position: center 20px;
			padding: 80px 25px 20px;
			text-align: center;
		}
		h1 {
			padding: 0;
			margin: 4px 0 0;
			font-weight: 700;
			font-size: 26px;
			max-width: 70%;
			@media screen and (max-width: $small) {
				max-width: 100%;
				width: 100%;
				text-align: center;
			}
			em {
				font-weight: 400;
				font-size: 14px;
				background-color: rgba(0, 0, 0, 0.055);
				color: rgba(0, 0, 0, 0.5);
				display: inline-block;
				border-radius: 2px;
				padding: 3px 3px;
				position: relative;
				top: -2px;
				left: 2px;
				text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
				font-style: normal;
				line-height: 1;
			}
			span {
				display: block;
				padding: 2px 0 0;
				color: $text_light;
				font-size: 15px;
				font-weight: 400;
			}
		}
		button {
			position: absolute;
			right: 25px;
			bottom: 26px;
			@media screen and (max-width: $small) {
				position: static;
				margin-top: 20px;
				display: inline-block;
			}
			i {
				margin-right: 2px;
			}
		}
	}
	.instant-images-wrapper {
		padding: 0 25px 20px;
		display: block;
		overflow: hidden;
		min-height: 400px;
		background: url("../img/ajax-loader-lg.gif") no-repeat center center;
		&.loaded {
			background: none;
		}
	}
}

// defaults
.instant-img-container h2,
.instant-img-container h3,
.instant-img-container h4 {
	margin-top: 0;
}

// Settings
.instant-img-container .save-settings {
	p.submit {
		float: left;
		margin: 0 2px 0 0;
		width: auto;
	}
	.loading {
		width: 46px;
		height: 28px;
		display: none;
		float: left;
		background: #fff url("../img/ajax-loader.gif") no-repeat center center;
	}
}

// Thickbox styles
#TB_ajaxContent {
	clear: both;
	line-height: 1.4;
	overflow: auto;
	text-align: left;
	width: 100% !important;
	box-sizing: border-box;
	padding: 15px !important;
}

.instant-img-container h1,
.instant-img-container h2,
.instant-img-container h3,
.instant-img-container h4 {
	color: $text;
	margin-top: 0;
}
.instant-img-container h4 + p {
	margin-top: -6px;
}
.instant-img-container p.small {
	font-size: 12px;
	margin-top: -10px;
	opacity: 0.7;
}

.instant-img-container ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.instant-img-container label,
.instant-img-container input,
.instant-img-container select,
.instant-img-container textarea {
	box-shadow: none;
}
.instant-img-container .save-settings {
	padding-top: 5px;
}
.instant-img-container label {
	padding: 5px 0 7px;
}
#unsplash-form-options h2,
#unsplash-form-options p.desc {
	display: none;
}
.instant-img-container input[type="text"],
.instant-img-container input[type="number"],
.instant-img-container textarea {
	padding: 10px;
	line-height: 1;
	background: $lighter_grey;
	width: 100%;
	border-radius: $radius_md;
	height: auto;
}
.instant-img-container input[type="text"]:focus,
.instant-img-container input[type="number"]:focus,
.instant-img-container textarea:focus {
	border-color: $text_light;
	box-shadow: 0 0 3px #ccc;
}

// Helpers
.instant-img-container {
	.spacer {
		display: block;
		height: 40px;
		overflow: hidden;
		clear: both;
		width: 100%;
		&.sm {
			height: 20px;
		}
	}
	input:-webkit-autofill {
		box-shadow: 0 0 0 1000px #fff inset;
	}
}
