// Media Modal.
.media-frame-content {
	.instant-img-container {
		.api-lightbox {
			position: fixed;
			& > div {
				top: 0;
			}
		}
	}
}

// Gutenberg Sidebar.
.components-panel {
	.instant-img-container {
		.api-lightbox,
		.api-lightbox.error-lightbox {
			align-items: flex-start;

			& > div {
				top: 0;
			}
		}
	}
}

// Instant Images Plugin Page.
.instant-img-container {
	.api-lightbox {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		position: absolute;
		z-index: 99999;
		left: -5px;
		top: 0;
		right: 0;
		bottom: 0;
		height: auto;
		border-radius: $radius_lg;
		padding: 5%;
		background-color: transparent;
		font-size: 13px;
		width: calc(100% + 10px);

		&.error-lightbox {
			align-items: center;
			background-color: rgba(0, 0, 0, 0.5);
			> div {
				top: 0;
			}

			.api-lightbox--details {
				&::before,
				&::after {
					display: none !important;
				}
			}
		}

		&.active {
			> div {
				transform: scale(1);
				opacity: 1;
			}
		}

		> div {
			max-width: 450px;
			width: 100%;
			padding: 0;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
			position: relative;
			top: -15px;
			transform: scale(0.9);
			opacity: 0;
			transition: $transition;
			overflow: hidden;
			& > div {
				position: relative;
			}
		}

		&--details {
			border-bottom: 1px solid $border;
			padding: 25px;
			padding-bottom: 20px;
			position: relative;
			&::after,
			&::before {
				top: 100%;
				left: 50px;
				border: solid transparent;
				content: '';
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&::after {
				border-color: rgba(255, 255, 255, 0);
				border-top-color: #ffffff;
				border-width: 10px;
				margin-left: -10px;
			}
			&::before {
				border-color: rgba(194, 225, 245, 0);
				border-top-color: $border;
				border-width: 11px;
				margin-left: -11px;
			}
			h3 {
				font-size: 16px;
				line-height: 18px;
				padding: 0 0 0 28px;
				text-transform: uppercase;
				margin: 0 0 15px;
				background-position: left center;
			}
			p {
				margin: 10px 0 0;
				font-size: 13px;
				&.callout-warning {
					font-size: 34px;
					font-weight: 900;
					opacity: 0.35;
				}
				&.more-info {
					padding: 10px;
					background-color: $yellow_bkg;
					margin: 15px 0;
					border-radius: $radius;
					border: 1px solid $grey;
					width: 105%;
					position: relative;
					left: -2.5%;
				}
				&.action-controls {
					display: flex;
					align-items: center;
					width: 100%;
					line-height: 1;
					button {
						font-size: 12px;
						font-weight: 500;
						color: $purple;
						background-color: transparent;
						border: none;
						padding: 8px 0;
						margin: 0;
						cursor: pointer;
						&:hover,
						&:focus {
							color: $purple_dark;
							text-decoration: underline;
						}
					}
					span {
						display: inline-block;
						opacity: 0.35;
						padding: 0 8px;
					}
				}
			}
		}

		&--close {
			position: absolute;
			z-index: 1;
			right: 0;
			top: 0;
			border: none;
			background-color: transparent;
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 25px;
			cursor: pointer;
			opacity: 0.5;
			&:hover,
			&:focus {
				opacity: 1;
			}
		}

		form {
			display: block;
			background-color: $lighter_grey;
			padding: 25px;
		}

		label,
		button[type='submit'] {
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 600;
			display: block;
			padding: 0;
			margin: 0 0 5px;
			cursor: pointer;
		}

		&--input-wrap {
			display: flex;
			width: 100%;
			padding: 0;
			margin-bottom: 10px;
			background-color: #fff;
			border: 1px solid $border;
			border-radius: $radius;
			transition: $transition;
			&:focus-within {
				border-color: $text_light;
				box-shadow: 0 0 1px 4px rgba(#000, 0.065);
			}
			span {
				width: 40px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 2px 0 0 2px;
				border-right: 1px solid $border;
				background-color: $lighter_grey;
				i {
					font-size: 16px;
				}
				&.invalid {
					cursor: help;
					i {
						color: $warn;
					}
				}
				&.valid {
					i {
						color: $green;
					}
				}
				&.loading {
					i {
						color: $text;
					}
				}
			}
			input {
				line-height: 40px;
				height: 40px;
				padding: 0 10px;
				background-color: transparent;
				border: none;
				flex: 1;
				font-size: 12px;

				&::-webkit-input-placeholder {
					color: $text_light;
					font-weight: 400;
					font-style: italic;
				}
				&:-moz-placeholder {
					color: $text_light;
					font-weight: 400;
					font-style: italic;
				}
				&::-moz-placeholder {
					color: $text_light;
					font-weight: 400;
					font-style: italic;
				}
				&:-ms-input-placeholder {
					color: $text_light;
					font-weight: 400;
					font-style: italic;
				}
				&:focus {
					background: transparent;
					outline: none;
					border: none;
					box-shadow: none;
				}
			}
		}
		button[type='submit'] {
			width: 100%;
			border: none;
			background-color: $purple;
			color: #fff;
			border-radius: $radius;
			padding: 0 10px;
			line-height: 46px;
			height: 46px;
			margin: 0;
			&:hover,
			&:focus {
				background-color: $purple_dark;
			}
		}
		&--response {
			color: $red;
			margin: 0;
			font-size: 13px;
			font-weight: 500;
			padding: 0 2px 12px;
			&.valid {
				color: $green_dark;
			}
		}
	}
}
