.instant-img-container {
	.control-nav {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@media screen and (max-width: $small) {
			justify-content: center;
		}
		width: 100%;
		margin: 0 0 20px;
		padding: 20px 0;
		list-style: none;
		border-bottom: 1px solid $grey;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		// Filters
		&--filters-wrap {
			flex: 1;
			position: relative;
			@media screen and (max-width: $small) {
				flex: none;
				width: 100%;
			}
			transition: all 0.25s ease;
			&.inactive {
				opacity: 0.55;
				filter: blur(1px);
				* {
					cursor: not-allowed;
				}
			}
		}
		&--filters {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			column-gap: 15px;
			@media screen and (min-width: $medium) {
				column-gap: 20px;
			}
			width: 100%;
			&:before {
				display: block;
				display: none;
				content: "\f0b0";
				font-family: "FontAwesome";
				color: $grey;
				font-size: 24px;
				margin-right: 10px;
			}
			label {
				border-left: none;
				display: block;
				min-width: 125px;
				padding: 0;
				margin: 0;
				span {
					display: block;
					text-transform: uppercase;
					font-size: 10px;
					padding-bottom: 1px;
					padding-left: 1px;
				}
				&:focus-within {
					select:not[disabled] {
						border-color: $text_light;
						box-shadow: 0 0 1px 5px rgba(#000, 0.025);
					}
				}
			}
			select {
				text-transform: capitalize;
				width: 100%;
				border-color: $input;
				color: $text;
				background-color: $lighter_grey;
				min-height: 36px;
				line-height: 36px;
				font-size: 14px;
				padding: 0 24px 0 8px;
				&[disabled] {
					cursor: not-allowed;
				}
				&:not[disabled]:hover {
					border-color: $text_light;
					box-shadow: 0 0 1px 5px rgba(#000, 0.025);
				}
			}
		}

		// Search
		&--search {
			display: flex;
			width: 30%;
			@media screen and (min-width: $large) {
				width: 35%;
			}
			max-width: 350px;
			margin: 0;
			margin-left: auto;
			padding: 0 0 0 20px;
			position: relative;
			@media screen and (max-width: $small) {
				width: 100%;
				display: block;
				position: static;
				padding: 0;
				text-align: left;
				max-width: 100%;
				padding: 10px 0;
			}
			.searchResults {
				position: absolute;
				right: 100.5%;
				top: 5px;
				width: auto;
				height: 30px;
				line-height: 30px;
				padding: 0 0 0 8px;
				background: $purple;
				border: 1px solid $purple_dark;
				border-radius: 4px;
				z-index: 9999;
				font-size: 13px;
				font-weight: 500;
				transition: all 0.25s ease;
				color: #fff;
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
				display: flex;
				align-items: center;
				span {
					cursor: help;
				}
				button {
					cursor: pointer;
					color: #fff;
					background-color: transparent !important;
					padding: 0;
					height: auto;
					line-height: 1;
					width: 28px;
					font-weight: 700;
					opacity: 0.65;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 14px;
					height: 100%;
					border: none !important;
					box-shadow: none !important;
					&:hover,
					&:focus {
						opacity: 1;
					}
				}
				&:after,
				&:before {
					left: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					z-index: 100;
				}
				&:after {
					border-color: rgba(223, 225, 173, 0);
					border-left-color: $purple;
					border-width: 6px;
					margin-top: -6px;
				}
				&:before {
					border-color: rgba(0, 0, 0, 0);
					border-left-color: $purple_dark;
					border-width: 7px;
					margin-top: -7px;
				}
				&.hide {
					opacity: 0;
					visibility: hidden;
				}
			}
			form {
				padding: 0 1px 0 0;
				margin: 0;
				position: relative;
				height: $el_height;
				display: block;
				width: 100%;
				&:hover {
					button[type="submit"] {
						opacity: 1;
					}
				}
			}
			input {
				width: 100%;
				padding: 0 10px 0 $el_height;
				border: 1px solid $input;
				background-color: $lighter_grey !important;
				height: $el_height;
				line-height: $el_height;
				border-radius: 999px;
				font-size: 14px;
				transition: border 0.25s ease;
				background-position: right 10px center;
				background-repeat: no-repeat;
				&:focus {
					border-color: $text_light;
					box-shadow: 0 0 1px 5px rgba(#000, 0.025);
				}
				&.searching {
					background-image: url("../img/ajax-loader.gif");
				}
			}
			// Remove X button in search.
			input[type="search"]::-webkit-search-decoration,
			input[type="search"]::-webkit-search-cancel-button,
			input[type="search"]::-webkit-search-results-button,
			input[type="search"]::-webkit-search-results-decoration {
				-webkit-appearance: none;
			}
			button[type="submit"] {
				position: absolute;
				left: 2px;
				top: 0;
				width: $el_height;
				height: $el_height;
				line-height: $el_height;
				border-radius: 100%;
				z-index: 1;
				border: none !important;
				background: transparent !important;
				cursor: pointer;
				color: $text;
				box-shadow: none !important;
				transition: all 0.25s ease;
				opacity: 0.75;
				margin: 0;
				padding: 0;
				font-size: 16px;
				&:hover,
				&:focus {
					opacity: 1;
				}
			}
			input[type="search"]::-webkit-input-placeholder {
				color: #ccc;
				font-weight: 400;
				font-style: normal;
				font-size: 14px;
			}
			input[type="search"]:-moz-placeholder {
				color: #ccc;
				font-weight: 400;
				font-style: normal;
				font-size: 14px;
			}
			input[type="search"]::-moz-placeholder {
				color: #ccc;
				font-weight: 400;
				font-style: normal;
				font-size: 14px;
			}
			input[type="search"]:-ms-input-placeholder {
				color: #ccc;
				font-weight: 400;
				font-style: normal;
				font-size: 14px;
			}
		}
	}
}
