.instant-img-container {
	.control-nav {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: $small) {
			justify-content: center;
		}
		width: 100%;
		margin: 0;
		padding: 20px 0;
		list-style: none;
		&::after {
			content: '';
			display: table;
			clear: both;
		}
		// Filters
		&--filters-wrap {
			flex: 1;
			position: relative;
			@media screen and (max-width: $small) {
				flex: none;
				width: 100%;
			}
			transition: all 0.3s ease 0.15s;
			&.inactive {
				opacity: 0.35;
				filter: blur(1px);
				pointer-events: none;
				i {
					opacity: 0.4 !important;
				}
				* {
					cursor: not-allowed;
				}
			}
		}
		&--filters {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			column-gap: 20px;
			width: 100%;
			&::before {
				display: block;
				display: none;
				content: '\f0b0';
				font-family: 'FontAwesome';
				color: $grey;
				font-size: 24px;
				margin-right: 10px;
			}
			label {
				border-left: none;
				display: block;
				min-width: 125px;
				padding: 0;
				margin: 0;
				span {
					display: block;
					text-transform: uppercase;
					font-size: 10px;
					padding-bottom: 1px;
					padding-left: 1px;
				}
				&:focus-within {
					select:not[disabled] {
						border-color: $text_light;
						box-shadow: 0 0 1px 5px rgba(#000, 0.025);
					}
				}
			}
			select {
				text-transform: capitalize;
				width: 100%;
				border-color: $input;
				color: $text;
				background-color: $lighter_grey;
				min-height: 36px;
				line-height: 36px;
				font-size: 14px;
				padding: 0 24px 0 8px;
				&[disabled] {
					cursor: not-allowed;
				}
				&:not[disabled]:hover {
					border-color: $text_light;
					box-shadow: 0 0 1px 5px rgba(#000, 0.025);
				}
			}
		}

		// Search
		&--search {
			display: flex;
			width: 30%;
			max-width: 350px;
			@media screen and (min-width: $large) {
				width: 35%;
			}
			padding: 0;
			margin-left: 20px;
			position: relative;
			&.inactive {
				opacity: 0.35;
				filter: blur(1px);
				pointer-events: none;
			}
			@media screen and (max-width: $small) {
				width: 100%;
				display: block;
				position: static;
				text-align: left;
				max-width: 100%;
				padding: 10px 0;
				margin: 0;
			}

			&-tooltip {
				position: absolute;
				right: 100.5%;
				top: -1px;
				width: auto;
				height: 40px;
				line-height: 40px;
				padding: 0 0 0 10px;
				background: $purple;
				border: 1px solid $purple_dark;
				border-radius: 4px;
				z-index: 9999;
				font-size: 13px;
				font-weight: 500;
				transition: all 0.25s ease;
				color: #fff;
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
				display: flex;
				align-items: center;
				span {
					cursor: help;
				}
				button {
					cursor: pointer;
					color: #fff;
					background-color: transparent !important;
					padding: 0;
					line-height: 1;
					width: 28px;
					font-weight: 700;
					opacity: 0.65;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 14px;
					height: 100%;
					border: none !important;
					box-shadow: none !important;
					&:hover,
					&:focus {
						opacity: 1;
					}
				}
				&::after,
				&::before {
					left: 100%;
					top: 50%;
					border: solid transparent;
					content: '';
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					z-index: 100;
				}
				&::after {
					border-color: rgba(223, 225, 173, 0);
					border-left-color: $purple;
					border-width: 6px;
					margin-top: -6px;
				}
				&::before {
					border-color: rgba(0, 0, 0, 0);
					border-left-color: $purple_dark;
					border-width: 7px;
					margin-top: -7px;
				}
				&.hide {
					opacity: 0;
					visibility: hidden;
				}
				@media screen and (max-width: $small) {
					right: 0;
					top: 0;
					border-radius: 0 $radius $radius 0;
					&::after,
					&::before {
						display: none;
					}
				}
			}

			form {
				padding: 0 1px 0 0;
				margin: 0;
				position: relative;
				height: $el_height;
				display: block;
				width: 100%;
				&:hover {
					button[type='submit'] {
						opacity: 1;
					}
				}
			}
			input {
				background-color: #fff;
				color: $text;
				width: 100%;
				padding: 0 15px 0 $el_height;
				border-color: $border;
				height: $el_height;
				line-height: $el_height;
				border-radius: $radius;
				font-size: 14px;
				background-position: right 10px center;
				background-repeat: no-repeat;
				margin: 0;
				&[disabled] {
					cursor: not-allowed;
				}
				&:focus {
					@include inputFocus;
				}
				&.searching {
					background-image: url('../img/ajax-loader.gif');
				}
			}
			// Remove X button in search.
			input[type='text']::-webkit-search-decoration,
			input[type='text']::-webkit-search-cancel-button,
			input[type='text']::-webkit-search-results-button,
			input[type='text']::-webkit-search-results-decoration {
				-webkit-appearance: none;
			}
			button[type='submit'] {
				position: absolute;
				left: 1px;
				top: 0;
				width: $el_height;
				height: $el_height;
				line-height: $el_height;
				border-radius: $radius;
				z-index: 1;
				border: none !important;
				background: transparent !important;
				cursor: pointer;
				color: $text_alt;
				box-shadow: none !important;
				transition: $transition;
				margin: 0;
				padding: 0;
				font-size: 18px;
				&:hover,
				&:focus {
					color: $text;
				}
				&[disabled] {
					cursor: not-allowed;
				}
			}
			input[type='text']::placeholder {
				color: $text_light;
				font-weight: 400;
				font-style: normal;
				font-size: 14px;
			}

			// Search Drop.
			&-history {
				position: absolute;
				z-index: 99999;
				top: 100%;
				left: -1.5%;
				width: 103%;
				padding: 15px;
				margin-top: 5px;
				background: #fff;
				border-radius: $radius;
				border: 1px solid $border;
				box-shadow: $shadow_md;
				font-size: 13px;
				opacity: 0;
				visibility: hidden;
				transition: all 0.15s ease 0.1s;

				&.active {
					opacity: 1;
					visibility: visible;
				}

				& button {
					color: $text_alt;
					cursor: pointer;
					background-color: transparent;
					border: none;
					text-align: left;
					&:hover,
					&:focus {
						color: $text;
					}
				}
				&-title {
					display: flex;
					align-items: center;
					width: 100%;
					gap: 15px;
					border-bottom: 1px solid $border;
					padding-bottom: 5px;
					margin-bottom: 10px;
					margin-top: 20px;
					&:first-of-type {
						margin-top: 0;
					}

					& div {
						font-size: 12px;
						color: $text;
						text-transform: uppercase;
						font-weight: 500;
						cursor: default;
					}

					& button {
						margin-left: auto;
						font-size: 13px;
						padding: 0 1px;
					}
				}
				& ul {
					& li {
						margin: 0;
						font-size: 13px;
					}
					&.search-history {
						display: flex;
						flex-wrap: wrap;
						gap: 6px;
						button {
							padding: 6px 10px;
							border-radius: $radius;
							border: 1px solid $border;
							box-shadow: $shadow_btn;
							&:hover,
							&:focus {
								background-color: $lighter_grey;
							}
						}
					}

					&.search-suggestions {
						display: block;
						button {
							background-color: transparent;
							border: none;
							padding: 5px 0;
							width: 100%;
						}
					}
				}
				&.extended-cta {
					padding: 0;
				}
			}
		}
	}
}
