// Media context popup window
.instant-img-container[data-media-popup="true"] {
	background: #fff;
	.instant-images-header-wrap {
		display: none;
	}
	.instant-images-wrapper {
		padding: 0 16px;
	}
}
