// Media context popup window
.instant-img-container[data-media-popup="true"]{
	background: #fff;
	.header-wrap{
		display: none;
	}
	.instant-images-wrapper{
		padding: 0 16px;
	}
	#photos{
		.photo{}
	}
}