.filter-dropdown {
	position: relative;
	button {
		background-color: transparent;
		border: none;
		text-align: left;
		color: $text_light;
		font-size: 14px;
		&:not(disabled) {
			cursor: pointer;
		}
	}
	&--button {
		display: flex;
		align-items: center;
		gap: 7px;
		padding: 10px 2px 10px 0;
		text-transform: capitalize;
		color: $text;
		color: $text_light;
		width: 100%;
		span {
			color: $text;
			font-weight: 500;
		}
		i {
			opacity: 0.5;
		}
		&:hover,
		&:focus {
			i {
				opacity: 1;
			}
		}
	}
	&--menu {
		display: block;
		visibility: hidden;
		opacity: 0;
		transform: scale(0.95);
		transition: transform 0.2s cubic-bezier(0.24, 0.22, 0.015, 1.56),
			opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
		padding: 10px;
		background-color: #fff;
		border: 1px solid $border;
		border-radius: $radius;
		box-shadow: $shadow;
		z-index: 9999;
		position: absolute;
		top: 110%;
		left: -12px;
		width: 200px;
		max-height: 350px;
		overflow-y: auto;
		&.expanded {
			visibility: visible;
			opacity: 1;
			transform: scale(1);
			top: 100%;
		}
		button {
			display: flex;
			align-items: center;
			gap: 10px;
			width: 100%;
			text-transform: capitalize;
			padding: 8px 5px;
			transition: all 0.25 ease;
			&:before {
				font-family: "FontAwesome";
				content: "\f00c";
				display: block;
				color: $input;
				opacity: 0.25;
				font-size: 10px;
			}
			&:hover,
			&:focus {
				color: $text;
				&:before {
					opacity: 0.75;
				}
			}
			&.selected {
				color: $text;
				&:before {
					color: $text;
					opacity: 0.75;
				}
			}
		}
		&[data-key="colors"],
		&[data-key="color"] {
			button {
				._color {
					margin-left: auto;
					width: 14px;
					height: 14px;
					border-radius: 50%;
					background-color: currentColor;
					box-shadow: 0 0 0 1px rgba(#000, 0.075);
				}
			}
		}
	}
}
