.filter-dropdown {
	position: relative;
	button {
		background-color: transparent;
		border: none;
		text-align: left;
		color: $text_light;
		cursor: pointer;
		&[disabled] {
			cursor: default;
			pointer-events: none;
		}
	}
	&--button {
		display: flex;
		align-items: center;
		gap: 5px;
		padding: 10px 2px 10px 0;
		text-transform: capitalize;
		color: $text_light;
		width: 100%;
		font-size: 14px;
		span.filter-dropdown--button-label {
			padding-right: 3px;
		}
		span.filter-dropdown--button-selected {
			color: $text;
			font-weight: 500;
		}
		i {
			opacity: 0.4;
			margin-left: 10px;
			font-size: 14px;
		}
		&:hover,
		&:focus {
			i {
				opacity: 1;
			}
		}
	}
	&--menu {
		display: block;
		visibility: hidden;
		opacity: 0;
		transform: scale(0.9);
		transition: transform 0.25s cubic-bezier(0.24, 0.22, 0.015, 1.56),
			opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
		padding: 10px;
		background-color: #fff;
		border: 1px solid $border;
		border-radius: $radius;
		box-shadow: $shadow;
		z-index: 9999;
		position: absolute;
		top: 110%;
		left: -12px;
		width: 200px;
		max-height: 350px;
		overflow-y: auto;
		&.expanded {
			visibility: visible;
			opacity: 1;
			transform: scale(1);
			top: 100%;
		}
		button {
			display: flex;
			align-items: center;
			gap: 8px;
			width: 100%;
			text-transform: capitalize;
			padding: 6px;
			transition: $transition;
			font-size: 14px;
			&::before {
				font-family: "FontAwesome";
				content: "\f00c";
				display: block;
				color: $input;
				opacity: 0.4;
				font-size: 12px;
				margin-top: 1px;
			}
			&:hover,
			&:focus {
				color: $text;
				&::before {
					opacity: 0.75;
				}
			}
			&.selected {
				color: $text;
				cursor: default;
				&::before {
					color: $text;
					opacity: 1;
				}
			}
		}
		&[data-key="colors"],
		&[data-key="color"] {
			button {
				._color {
					margin-left: auto;
					width: 14px;
					height: 14px;
					border-radius: 50%;
					background-color: currentcolor;
					box-shadow: 0 0 0 1px rgba(#000, 0.075);
				}
			}
		}
	}
}
