// Form Styles.
.instant-images-settings {
	// Generic Form Styles.
	form {
		display: block;

		&.saving,
		&.submitting {
			pointer-events: none;
		}

		> h2,
		> p.desc {
			display: none;
		}

		select,
		input[type='text'],
		input[type='number'],
		textarea {
			@include inputDefaults;

			&[readonly] {
				background-color: $lighter_grey;
				cursor: not-allowed;
				opacity: 0.5;
				border-color: $border !important;
			}

			&:focus {
				@include inputFocus;
			}
		}
		select {
			padding: 11px 10px;
			max-width: none;
			&:hover {
				color: $text_alt;
			}
		}

		label,
		.fake-label {
			color: $text;
			display: block;
			font-weight: 500;
			clear: both;
			float: none;
			margin: 0 0 8px;
			padding: 0;

			&.provider-label {
				display: flex;
				width: 100%;
				align-items: center;
				gap: 10px;
				justify-content: space-between;

				& a {
					font-size: 12px;
					font-weight: 400;
					display: block;
					padding: 0 2px;
					text-decoration: none;
					position: relative;
					top: 1px;
					&:hover,
					&:focus {
						color: $purple_dark;
					}
				}
			}

			> span {
				opacity: 0.8;
				font-size: 13px;
				font-style: italic;
			}
		}
		.api-constant {
			display: block;
			padding: 10px 0 0 1px;
			opacity: 0.75;
			font-size: 12px;
		}
	}

	// Checkbox replacement.
	.instant-images-checkbox {
		padding: 3px 0;
		margin: 0;
		font-weight: 400;
		color: $text_alt;
		position: relative;

		&--switch {
			display: flex;
			flex-wrap: nowrap;
			gap: 8px;
			width: 100%;
			position: relative;

			.toggle-switch {
				position: relative;
				top: 2px;
				width: 36px;
				height: 18px;
				background-color: rgba($text_alt, 0.5);
				border-radius: 9999px;
				transition: $transition;
				cursor: pointer;

				&::before {
					position: absolute;
					content: '';
					height: 12px;
					width: 12px;
					left: 3px;
					bottom: 3px;
					border-radius: 100%;
					background-color: #fff;
					transition: $transition;
				}
			}

			& .toggle-label {
				flex: 1;
				padding-top: 2px;
			}
		}

		input[type='checkbox'] {
			opacity: 0;
			position: absolute;
			left: -1px;

			&:checked + div .toggle-switch {
				background-color: $purple;
				&::before {
					left: 21px;
				}
				&::after {
					opacity: 1;
				}
			}

			&:focus {
				+ div .toggle-switch {
					box-shadow:
						0 0 0 1px rgba(255, 255, 255, 1),
						0 0 0 3px $purple;
				}
			}
		}
	}
}
