$gb_border: #ddd;

body.loading{
	.instant-img-container{
		.loading-block {
			display: block;
		}
	}
}

.instant-images-sidebar-icon,
.instant-images-sidebar-icon svg {display: inline-flex;
   flex: 0 0 auto;
}
.instant-images-sidebar-icon svg {
   height: 20px;
   width: 20px;
}
.instant-images-sidebar-icon svg,
.instant-images-sidebar-icon svg * {
   stroke: $purple !important;
   fill: $purple !important;
}

.components-panel {
   .instant-img-container{
      .load-more-wrap{
         display: block;
      }
   }
   .no-results{
      padding: 40px;
      h3{
         font-size: 18px;
      }
      p{
         font-size: 13px;
      }
   }
	#photos {
		width: 100%;
		margin: 0;
		padding: 5px;
		.photo{
			width: 100%;
			display: block;
			opacity: 1 !important;
			margin: 0 0 5px;
			padding: 0;
		}
	}
	.provider-nav{
		width: 100%;
		padding: 5px;
		margin: 0;
		border-bottom-color: $gb_border;
		button{
			font-size: 13px;
			padding-left: 32px;
		}
	}
	.control-nav{
		padding: 0 5px 5px;
		border-bottom: 1px solid $gb_border;
		li{
			font-size: 13px;
			button{
				padding-left: 4px;
			}
			a {
				padding: 16px 24px 16px 0;
				height: auto;
				line-height: 1.2;
			}
			&.search-field{
				float: none;
				width: 100%;
				padding: 0;
				clear: both;
				form{
					height: auto;
				}
				&:before{
					content: "";
					display: table;
					clear: both;
				}
				button[type=submit]{
					display: none;
				}
				input{
					line-height: 40px;
					height: 40px;
					padding-right: 10px;
					padding-left: 10px;
					border-color: #e2e4e7;
					font-size: 13px;
					border-radius: 3px !important;
					&.searching{
   					padding-left: 30px;
   					background-position: 8px center;
					}
					&:focus{
						box-shadow: none;
					}
				}
				.searchResults{
					right: 2px;
					left: auto;
               top: 2px;
					border-radius: 2px;
					font-size: 12px;
					height: 36px;
					line-height: 35px;
					&:before,
					&:after{
						display: none;
					}
				}
			}
		}
	}

	.orientation-list{
		position: static;
		border-top: none;
		background: $lighter_grey;
		padding: 5px 5px 5px 0;
		margin-bottom:5px;
		border-bottom-color: $gb_border;
		span{
			display: none;
		}
		ul{
			padding: 0;
			width: 100%;
		}
	}
}
