body.loading {
	.instant-img-container {
		.loading-block {
			display: block;
		}
	}
}

.instant-images-sidebar-icon,
.instant-images-sidebar-icon svg {
	display: inline-flex;
	flex: 0 0 auto;
}
.instant-images-sidebar-icon svg {
	height: 20px;
	width: 20px;
}
.instant-images-sidebar-icon svg,
.instant-images-sidebar-icon svg * {
	stroke: $purple !important;
	fill: $purple !important;
}

button[aria-expanded='true'] .instant-images-sidebar-icon svg,
button[aria-expanded='true'] .instant-images-sidebar-icon svg * {
	stroke: $purple_bright !important;
	fill: $purple_bright !important;
}

.components-panel {
	.instant-img-container {
		.load-more-wrap {
			button {
				display: inline-block;
			}
		}
		.notice.upgrade-notice {
			margin: 10px;
		}
	}
	.no-results {
		padding: 40px;
		h3 {
			font-size: 18px;
		}
		p {
			font-size: 13px;
		}
	}
	.search-results-text {
		font-size: 12px;
		border-top: 1px solid $gb_border;
		border-color: $gb_border;
		.search-results-clear {
			display: none;
		}
	}
	#photos {
		width: 100%;
		margin: 0;
		padding: 5px 10px;
		overflow: hidden;
		.photo {
			width: 100%;
			display: block;
			opacity: 1 !important;
			margin: 0 0 10px;
			padding: 0;
		}
	}
	.provider-nav {
		width: 100%;
		padding: 10px 5px;
		margin: 0;
		border-bottom-color: $gb_border;
		button {
			font-size: 13px;
			padding-left: 36px;
		}
	}
	.control-nav {
		padding: 0 5px 5px;
		border-bottom: 1px solid $gb_border;
		margin: 0 0 10px;
		display: block;
		.control-nav--spacer {
			display: none;
		}
		&--filters-wrap {
			flex: none;
			width: 100%;
			display: block;
		}
		&--filters {
			column-gap: 6px;
			padding: 10px 0;
			.filter-dropdown {
				width: calc(50% - 3px);
				display: none;
				button {
					padding: 5px;
					font-size: 13px;
					&.filter-dropdown--button {
						display: block;
					}
					i {
						margin-left: auto;
						padding-right: 5px;
					}
				}
				&--menu {
					width: 106%;
					left: -3%;
					padding: 8px;
					button {
						gap: 8px;
					}
				}
				&:nth-child(1),
				&:nth-child(2) {
					display: block;
				}
				.filter-dropdown--button-label {
					display: block;
					font-size: 10px;
					text-transform: uppercase;
					margin: 0 0 2px;
				}
				.filter-dropdown--button-selected {
					display: flex;
					align-items: center;
					width: 100%;
					font-size: 14px;
				}
			}
		}
		&--search {
			float: none;
			width: 100%;
			padding: 0 0 10px;
			clear: both;
			form {
				height: auto;
			}
			&::before {
				display: none;
			}
			button[type='submit'] {
				display: none;
			}
			input {
				line-height: 40px;
				height: 40px;
				padding-right: 10px;
				padding-left: 10px;
				border-color: #e2e4e7;
				font-size: 13px;
				border-radius: 3px !important;
				background-position: 8px center;
				&.searching {
					padding-left: 30px;
				}
				&:focus {
					box-shadow: none;
				}
			}
			input[type='search']::-webkit-input-placeholder {
				font-size: 13px;
			}
			input[type='search']:-moz-placeholder {
				font-size: 13px;
			}
			input[type='search']::-moz-placeholder {
				font-size: 13px;
			}
			input[type='search']:-ms-input-placeholder {
				font-size: 13px;
			}
			.searchResults {
				right: 2px;
				left: auto;
				top: 2px;
				border-radius: 2px;
				font-size: 12px;
				height: 36px;
				line-height: 35px;
				&::before,
				&::after {
					display: none;
				}
			}
		}
	}

	.orientation-list {
		position: static;
		border-top: none;
		background: $lighter_grey;
		padding: 5px 5px 5px 0;
		margin-bottom: 5px;
		border-bottom-color: $gb_border;
		span {
			display: none;
		}
		ul {
			padding: 0;
			width: 100%;
		}
	}
}
