// Instant Images Plugin Page.
.provider-nav {
	display: flex;
	flex-wrap: nowrap;
	width: calc(100% + 50px);
	margin-left: -25px;
	padding: 10px 25px;
	border-bottom: 1px solid $grey;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.045);
	background-color: $lighter_grey;
	position: relative;
	overflow-x: auto;
	> div {
		position: relative;
		margin: 0 5px;
		&:first-of-type {
			margin-left: 0;
		}
		&:last-of-type {
			margin-left: 0;
		}
	}
	&--btn {
		padding: 0 10px 0 36px;
		margin: 0;
		height: $el_height;
		line-height: $el_height;
		border: 1px solid transparent;
		background: transparent;
		cursor: pointer;
		position: relative;
		border-radius: $radius;
		font-size: 14px;
		color: $text_light;
		transition: all 0.2s ease;
		background-color: $lighter_grey;

		&:hover,
		&:focus {
			color: $text;
		}
		&[disabled] {
			opacity: 0.5;
			cursor: not-allowed;
			pointer-events: none;
		}
		&.active {
			background-color: #fff;
			border-color: $input;
			color: $text;
			cursor: default;
			box-shadow: 0 0 6px rgba(0, 0, 0, 0.075);
		}
	}
	&--new {
		color: $text;
		background-color: $yellow;
		font-size: 9px;
		text-transform: uppercase;
		display: inline;
		padding: 3px 4px;
		border-radius: $radius;
		margin-left: 5px;
		position: relative;
		top: -1px;
		letter-spacing: -0.05rem;
	}
}

[data-provider="unsplash"] {
	background: url("../img/logos/unsplash.svg") no-repeat 10px center;
	background-size: 18px 18px;
}

[data-provider="pixabay"] {
	background: url("../img/logos/pixabay.png") no-repeat 10px center;
	background-size: 20px 20px;
}

[data-provider="pexels"] {
	background: url("../img/logos/pexels.svg") no-repeat 10px center;
	background-size: 20px 20px;
}
[data-provider="openverse"] {
	background: url("../img/logos/openverse.svg") no-repeat 10px center;
	background-size: 20px 20px;
}

// Settings page.
.settings_page_instant-images-settings {
	.provider-nav {
		width: 100%;
		margin: 0;
		button {
			background-color: transparent;
			border: none;
			color: $text_alt;
			height: $el_height;
			line-height: $el_height;
			padding: 0 10px;
			cursor: pointer;
			white-space: nowrap;
			&:hover,
			&:focus {
				color: $text;
			}
		}
	}
}
