.provider-nav{
	display: flex;
	flex-wrap: nowrap;
	width: calc(100% + 50px);
	margin-left: -25px;
	padding: 5px 25px;
	border-bottom: 1px solid $grey;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.045);
	background-color: $lighter_grey;
	position: relative;
	> div{
		position: relative;
	}
	&--btn{
		padding: 8px 8px 8px 35px;
		border: 1px solid transparent;
		background: transparent;
		margin-right: 5px;
		cursor: pointer;
		position: relative;
		border-radius: 3px;
		font-size: 14px;
		color:$text_light;
		transition: all 0.2s ease;
		&:hover,
		&:focus{
			color: $text;
		}
		&[data-provider="unsplash"]{
			background: $lighter_grey url("../img/logos/unsplash.svg") no-repeat 8px center;
			background-size: 18px 18px;
		}
		&[data-provider="pixabay"]{
			background: $lighter_grey url("../img/logos/pixabay.png") no-repeat 8px center;
			background-size: 20px 20px;
		}
		&.active{
			background-color: #fff;
			border-color: $border;
			color: $text;
			cursor: default;box-shadow: 0 0 6px rgba(0, 0, 0, 0.075);
		}
	}
}
