// Instant Images Plugin Page.
.provider-nav {
	display: flex;
	flex-wrap: nowrap;
	width: calc(100% + 50px);
	margin-left: -25px;
	padding: 10px 25px;
	border-bottom: 1px solid $grey;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.045);
	background-color: $lighter_grey;
	position: relative;
	overflow-x: auto;
	> div {
		position: relative;
		margin: 0 5px;
		&:first-of-type {
			margin-left: 0;
		}
		&:last-of-type {
			margin-left: 0;
		}
		&.giphy-powered {
			margin-left: 0;
			display: flex;
			align-items: center;
			width: 115px;
			a {
				width: 115px;
				height: 100%;
				display: flex;
				align-items: center;
				img {
					display: block;
				}
			}
		}
	}
	&--btn {
		padding: 0 10px;
		margin: 0;
		height: $el_height;
		line-height: $el_height;
		border: 1px solid transparent;
		background: transparent;
		cursor: pointer;
		position: relative;
		border-radius: $radius;
		font-size: 14px;
		color: $text_light;
		transition: all 0.2s ease;
		background-color: $lighter_grey;
		display: flex;
		align-items: center;

		svg {
			width: 20px;
			height: 20px;
			margin-right: 6px;
		}

		&:hover,
		&:focus {
			color: $text;
		}
		&[disabled] {
			opacity: 0.5;
			cursor: not-allowed;
			pointer-events: none;
		}
		&.active {
			background-color: #fff;
			border-color: $input;
			color: $text;
			cursor: default;
			box-shadow: 0 0 6px rgba(0, 0, 0, 0.075);
		}
	}
	&--new {
		color: $text;
		background-color: $yellow;
		font-size: 9px;
		text-transform: uppercase;
		display: inline;
		padding: 0 4px;
		border-radius: $radius;
		margin-left: 5px;
		position: relative;
		top: 1px;
		letter-spacing: -0.05rem;
		height: 20px;
		line-height: 20px;
	}
}
