div.search-results-text {
	padding: 0;
	color: $text;
	margin: -20px 0 15px;
	padding: 10px;
	background-color: $yellow_bkg;
	border-bottom: 1px solid $grey;
	font-size: 12px;
	@media screen and (min-width: $small) {
		font-size: 13px;
	}
	width: 100%;
	text-align: center;
	span.search-results-term {
		color: $text;
		font-weight: 700;
	}
	button {
		border: none;
		background-color: transparent;
		font-size: 13px;
		cursor: pointer;
		color: $purple;
		&:hover,
		&:focus {
			text-decoration: underline;
			color: $purple_dark;
		}
	}
}
