.search-results-header {
	h2 {
		font-size: 34px;
		@media screen and (max-width: $small) {
			font-size: 25px;
		}
		line-height: 1;
		padding: 0;
		margin: 0 0 5px;
		text-transform: capitalize;
		font-weight: 700;
	}
	&--text {
		font-size: 14px;
		margin: 0 0 15px;
		color: $text_light;
		strong {
			color: $text;
			font-weight: 600;
		}

		button {
			border: none;
			background-color: transparent;
			font-size: 13px;
			cursor: pointer;
			color: $purple;
			font-weight: 400;
			padding: 2px 0 0;
			margin: 0;
			&:hover,
			&:focus {
				text-decoration: underline;
				color: $purple_dark;
			}
		}
	}
	.control-nav--filters-wrap {
		margin: 0 0 15px;
	}
}
