.search-header {
	margin-bottom: 20px;
	padding-top: 20px;
	border-top: 1px solid $border;
	h2 {
		font-size: 34px;
		@media screen and (max-width: $small) {
			font-size: 25px;
		}
		line-height: 1;
		padding: 0;
		margin: 0 0 10px;
		font-weight: 800;
	}
	&--text {
		font-size: 14px;
		line-height: 1;
		margin: 0 0 15px;
		color: $text_light;
		display: flex;
		align-items: center;
		width: 100%;

		strong,
		span {
			display: inline-block;
		}
		strong {
			color: $text;
			font-weight: 600;
			margin: 0 5px;
		}
		span {
			opacity: 0.75;
			margin: 0 2px;
		}
		button {
			border: none;
			background-color: transparent;
			font-size: 14px;
			line-height: 1;
			cursor: pointer;
			color: $purple;
			font-weight: 400;
			padding: 0;
			margin: 0 5px;
			transition: $transition;
			&:hover,
			&:focus {
				text-decoration: underline;
				color: $purple_dark;
			}
		}
	}
}
