$sticky_top: 62px;

.instant-images-settings {
	background-color: $lighter_grey;
	padding: 30px;

	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(1, 1fr);

	@media screen and (min-width: $small) {
		grid-template-columns: 4fr 8fr;
	}

	@media screen and (min-width: $large) {
		grid-template-columns: 3fr 9fr;
	}

	@media screen and (min-width: $xlarge) {
		grid-template-columns: 2fr 10fr;
	}

	&--sticky {
		@media screen and (min-width: $large) and (min-height: 640px) {
			position: sticky;
			top: $sticky_top;
			left: 0;
		}
	}

	// Header
	&--header {
		display: block;
		width: 100%;
		margin: 0;

		nav {
			display: none;
			@media screen and (min-width: $small) {
				display: block;
			}
			margin-top: 20px;
			padding: 0 0 5px;
			border-radius: $radius_xl;
			background-color: #fff;
			box-shadow: $shadow_md;
			overflow: hidden;
			h3 {
				font-size: 12px;
				background-color: #fff;
				border-bottom: 1px solid $lighter_grey;
				margin: 0 0 5px;
				padding: 15px 15px 14px;
				line-height: 1;
				text-transform: uppercase;
			}
			button {
				all: unset;
				width: 100%;
				border: none;
				color: $text_alt;
				line-height: 1;
				padding: 10px 12px;
				cursor: pointer;
				white-space: nowrap;
				text-align: left;
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				i {
					width: 25px;
					color: $border;
					font-size: 18px;
				}
				&:hover,
				&:focus {
					color: $text;
				}
			}
		}

		.button-secondary {
			border-color: $purple;
			color: $purple;
			&:hover,
			&:focus {
				color: $purple_dark;
				border-color: $purple_dark;
			}
		}
	}

	// Sections
	&--sections {
		.settings-entry {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			width: 100%;
			@media screen and (min-width: $large) {
				padding: 30px;
			}
			margin: 0 0 30px;
			background-color: #fff;
			border-radius: $radius_xl;
			box-shadow: $shadow_md;

			&:last-of-type {
				border-bottom: none;
			}

			&--title {
				width: 100%;
				padding: 25px;
				position: relative;
				border-bottom: 1px solid $lighter_grey;

				@media screen and (min-width: $large) {
					width: 30%;
					padding: 27px 30px 30px 50px;
					border: none;
					position: sticky;
					top: $sticky_top;
					margin-bottom: 20px;

					&::after {
						display: block;
						content: "";
						height: 1px;
						width: 50px;
						background-color: $border;
						position: absolute;
						bottom: 0;
					}
				}

				i.fa {
					display: none;
					@media screen and (min-width: $large) {
						display: block;
					}
					position: absolute;
					left: 10px;
					font-size: 30px;
					color: $border;
					margin-top: -4px;
				}
				h2 {
					font-size: 18px;
					font-weight: 600;
					border: none;
					padding: 0;
					margin: 0 0 10px;
					line-height: 1.35;
				}
				p {
					margin: 10px 0 0;
				}
			}

			&--action {
				width: 100%;
				padding: 25px;
				@media screen and (min-width: $large) {
					width: 70%;
					padding: 30px;
				}
				position: relative;
				overflow: hidden;
			}
		}
	}

	// Save Settings.
	.save-settings {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		width: 100%;
		align-items: center;
		position: relative;
		p.submit {
			margin: 0;
			width: auto;
		}

		.loading,
		.saved {
			opacity: 0;
			visibility: hidden;
			transition: $transition;
			&.active {
				opacity: 1;
				visibility: visible;
			}
		}
		.loading {
			width: 30px;
			height: 30px;
			display: block;
			background: #fff url("../img/ajax-loader.gif") no-repeat center center;
		}
		.saved {
			margin-left: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 6px;
			font-size: 13px;
			padding: 0;
			i {
				color: $green;
				font-size: 22px;
			}
		}
	}

	// What's New
	& .whats-new {
		ul {
			margin: 0;
			padding: 0;
			// max-height: 450px;
			// overflow-y: auto;
			display: grid;
			grid-gap: 10px;
			grid-template-columns: repeat(1, 1fr);
			@media screen and (min-width: $small) {
				grid-template-columns: repeat(2, 1fr);
			}

			li {
				line-height: 1.4;
				width: 100%;
				background-color: transparent;
				padding: 0;
				margin: 0;
				position: relative;
				display: flex;
				p {
					font-size: 13px;
					position: relative;
					z-index: 1;
					margin: 0;
					padding: 20px;
					background-color: #fff;
					border: 1px solid $border;
					border-radius: $radius;
					strong {
						font-size: 14px;
						color: $text;
						display: block;
						font-weight: 700;
						margin: 0 0 5px;
					}
				}
				code {
					font-size: 12px;
					margin: 0;
					padding: 3px;
					background: $lighter_grey;
					border-radius: 2px;
					box-shadow: 0 0 0 1px $grey;
				}
			}
		}
	}
	// Settings
	& .general-settings {
		span.desc {
			font-size: 11px;
			display: block;
			a {
				text-decoration: none;
				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}

	.instant-images-settings h3,
	.instant-images-settings h4 {
		margin-top: 0;
	}

	// Form Table.
	.form-table {
		margin: 0;
		border: none;
		position: relative;
		top: -5px;

		td,
		p {
			font-size: 14px;
		}
		th {
			display: none;
		}
		td {
			border-top: 0;
			padding: 0 0 25px;
			float: left;
			width: 100%;
			margin: 0;
			&:empty {
				padding: 0;
			}
		}
		.form-msg {
			display: block;
			line-height: 18px;
			padding: 12px 12px 12px 15px;
			margin: 15px 0 0;
			color: $text_alt;
			background-color: #fff9ea;
			border-left: 5px solid #dfd8c2;
			border-radius: 2px;
			span {
				display: block;
				padding: 6px 0 3px;
			}
		}
	}

	// Plugins --------------------------------------------------------------
	& .other-plugins {
		.cnkt-plugin-installer {
			width: 100% !important;
			position: static;
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			@media screen and (min-width: $xlarge) {
				grid-template-columns: repeat(2, 1fr);
			}
			grid-gap: 10px;
			padding: 0;
			.plugin {
				width: 100%;
				padding: 0 !important;
				margin: 0 !important;
				line-height: 1.45;
				border-color: $border;
				border-radius: $radius;
				overflow: hidden;
				h2 {
					margin-bottom: 5px;
				}
				p {
					padding: 0;
					margin: 0 0 5px;
				}
			}
			&::after {
				display: none;
			}
		}
	}
}
