.instant-images-settings {
	background-color: $lighter_grey;
	padding: 20px;

	&--wrap {
		.settings-entry {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			padding: 0;
			margin: 0 0 30px;

			&--title {
				width: 100%;
				padding: 20px 10px 10px 25px;
				position: relative;

				@media screen and (min-width: $small) {
					width: 30%;
					padding: 30px 30px 30px 45px;
				}
				i.fa {
					display: none;
					@media screen and (min-width: $small) {
						display: block;
					}
					position: absolute;
					left: 10px;
					font-size: 25px;
					color: $text_alt;
					opacity: 0.4;
					margin-top: -5px;
				}
				h2 {
					font-size: 18px;
					font-weight: 600;
					border: none;
					padding: 0;
					margin: 0 0 5px;
				}
			}

			&--action {
				width: 100%;
				padding: 25px;
				@media screen and (min-width: $small) {
					width: 70%;
					padding: 35px;
				}
				background-color: #fff;
				border-radius: 10px;
				box-shadow: $shadow_md;
				position: relative;
				overflow: hidden;
			}
		}
	}

	// Save Settings.
	.save-settings {
		display: flex;
		gap: 10px;
		width: 100%;
		align-items: center;
		position: relative;
		p.submit {
			margin: 0;
			width: auto;
		}
		.loading,
		.saved {
			opacity: 0;
			visibility: hidden;
			transition: $transition;
			&.active {
				opacity: 1;
				visibility: visible;
			}
		}
		.loading {
			width: 30px;
			height: 30px;
			display: block;
			background: #fff url("../img/ajax-loader.gif") no-repeat center center;
		}
		.saved {
			margin-left: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 6px;
			font-size: 13px;
			padding: 0;
			i {
				color: $green;
				font-size: 22px;
			}
		}
	}

	// What's New
	& .whats-new {
		ul {
			margin: 0;
			padding: 10px;
			max-height: 400px;
			overflow-y: auto;
			background-color: $lighter_grey;
			border: 1px solid $border;
			border-radius: $radius;
			display: grid;
			grid-gap: 10px;
			grid-template-columns: repeat(1, 1fr);
			@media screen and (min-width: $small) {
				grid-template-columns: repeat(2, 1fr);
			}

			li {
				line-height: 1.4;
				width: 100%;
				background-color: transparent;
				padding: 0;
				margin: 0;
				position: relative;
				display: flex;
				p {
					font-size: 13px;
					position: relative;
					z-index: 1;
					margin: 0;
					padding: 15px;
					background-color: #fff;
					border: 1px solid $border;
					border-radius: $radius;
					strong {
						font-size: 14px;
						color: $text;
						display: block;
						font-weight: 700;
						margin: 0 0 3px;
					}
				}
				code {
					font-size: 12px;
					margin: 0;
					padding: 3px;
					background: $lighter_grey;
					border-radius: 2px;
					box-shadow: 0 0 0 1px $grey;
				}
			}
		}
	}
	// Settings
	& .general-settings {
		span.desc {
			font-size: 11px;
			display: block;
			a {
				text-decoration: none;
				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}

	.instant-images-settings h3,
	.instant-images-settings h4 {
		margin-top: 0;
	}

	// Form Styles.
	form {
		display: block;
		max-width: 800px;

		> h2,
		> p.desc {
			display: none;
		}

		select,
		input[type="text"],
		input[type="number"],
		textarea {
			color: $text_alt;
			background-color: #fff;
			width: 100%;
			padding: 10px;
			border-color: $border;
			max-width: none;
			line-height: 1;
			border-radius: $radius;

			&[readonly] {
				background-color: $lighter_grey;
				cursor: not-allowed;
				opacity: 0.5;
				border-color: $border !important;
				box-shadow: none !important;
			}
		}
		select {
			padding: 12px 10px;
		}

		label {
			color: $text;
			display: block;
			font-weight: 600;
			clear: both;
			float: none;
			margin: 0 0 10px;

			&.provider-label {
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: space-between;

				& a {
					font-size: 12px;
					font-weight: 400;
					display: block;
					text-decoration: none;
				}
			}

			span {
				opacity: 0.8;
				font-size: 13px;
				font-style: italic;
			}

			&.cnkt-checkbox-wrap {
				display: flex;
				flex-wrap: nowrap;
				width: 100%;
				padding: 3px 0;
				margin: 0;
				font-weight: 400;
				color: $text_alt;

				& input {
					margin-top: 1px;
					margin-right: 8px;
				}
			}
		}
		.api-constant {
			display: block;
			padding: 10px 0 0 1px;
			opacity: 0.75;
			font-size: 12px;
		}
	}

	// Form Table.
	.form-table {
		margin: 0;
		border: none;
		position: relative;
		top: -5px;

		td,
		p {
			font-size: 14px;
		}
		th {
			display: none;
		}
		td {
			border-top: 0;
			padding: 0 0 20px;
			float: left;
			width: 100%;
			margin: 0;
			&:empty {
				padding: 0;
			}
		}
		.form-msg {
			display: block;
			line-height: 18px;
			padding: 12px 12px 12px 15px;
			margin: 15px 0 0;
			color: $text_alt;
			background-color: #fff9ea;
			border-left: 5px solid #dfd8c2;
			border-radius: 2px;
			span {
				display: block;
				padding: 6px 0 3px;
			}
		}
	}

	// Plugins --------------------------------------------------------------
	& .other-plugins {
		.cnkt-plugin-installer {
			width: 100% !important;
			position: static;
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			@media screen and (min-width: $small) {
				grid-template-columns: repeat(2, 1fr);
			}
			grid-gap: 10px;
			padding: 0;
			.plugin {
				width: 100%;
				padding: 0 !important;
				margin: 0 !important;
				line-height: 1.45;
				h2 {
					margin-bottom: 5px;
				}
				p {
					padding: 0;
					margin: 0 0 5px;
				}
			}
			&::after {
				display: none;
			}
		}
	}
}
