.instant-img-container {
	#tooltip {
		padding: 8px 10px;
		background: #fff;
		position: fixed;
		left: auto;
		top: auto;
		z-index: 999;
		display: block;
		opacity: 0;
		visibility: hidden;
		margin-top: -37px;
		font-size: 12px;
		color: rgba($text, 0.75);
		text-align: center;
		line-height: 1;
		border-radius: 2px;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
		transition: transform 0.25s cubic-bezier(0.24, 0.22, 0.015, 1.56), opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
		transform: scale(0.8);
		&::after {
			top: 100%;
			right: 17px;
			border: solid transparent;
			content: '';
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-top-color: #fff;
			border-width: 5px;
			margin-left: -5px;
		}
		&.above {
			margin-top: 37px;
			&::after {
				top: -5px;
				border-top: none;
				border-bottom-color: #fff;
			}
		}
		&.over {
			transform: scale(1);
			opacity: 0.9;
			visibility: visible;
		}
	}
}
