$xlarge: 1570px;
$large: 1270px;
$medium: 1024px;
$small: 800px;
$wp_small: 640px;
$xsmall: 600px;
$radius: 3px;

$text: #333;
$text_light: #999;
$input: #ccc;
$border: #e1e1e1;
$grey: #efefef;
$lighter_grey: #f7f7f7;
$purple: #586ec6;
$purple_dark: #455cb6;
$green: #65c774;
$green_dark: #51a75e;
$red: #df3333;
$warn: #d4aa4d;
$yellow: #ffe732;
$yellow_bkg: #fef8ee;
