$xlarge: 1500px;
$large: 1270px;
$medium: 1024px;
$small: 800px;
$wp_small: 640px;
$xsmall: 600px;
$radius: 3px;
$el_height: 38px;
$shadow: 0 8px 16px rgba(#303f7a, 0.175);

$text: #333;
$text_light: #999;
$input: #ccc;
$border: #e1e1e1;
$grey: #efefef;
$lighter_grey: #f7f7f7;
$purple: #586ec6;
$purple_bright: #aabbff;
$purple_dark: #455cb6;
$green: #65c774;
$green_dark: #51a75e;
$red: #df3333;
$warn: #cfa345;
$yellow: #ffe732;
$yellow_bkg: #fef8ee;
